@charset "UTF-8";

body {
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: #1e402f;
}

h1#principal {
    text-align: center;
}

h2 {
    color: #3c805e;
}

.basico {
    color: #79803c;
}

.intermediario {
    color: #3c7980;
}

.avancado {
    color: #3c3f80;
}

.destaque {
    background-color: rgba(0, 0, 255, 0.449);
}